<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="shortcut icon" href="../static/dogIcon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>

    <div id="maincontainer">

        <div id="header">
        
            <ul style="display: inline;">
              <li><a href="../templates/HomePage.html">Home</a></li>
              <li><a class="active" href="../templates/About.html">About</a></li>
              <li><a href="../templates/News.html">News</a></li>
              <li><a href="../templates/Contact.html">Contact</a></li>		  
            </ul>
        
        </div>
        

        
          
            
                <div class="innertext">
                <p>
                    <h2 style="text-align: center;">Were working on it..</h2>
                </p>
                   <center> <img src="../static/Dachshunds_Doing_Road_Work_Cute_Construction_Worker_Dachshunds.gif" alt="Under Construction, new treats on the way..." width="600" height="600"> </center>
                
                </div>
        

        
        <div id="footer">© Chubby's World 2022, All Rights Reserved</div>
    
    </div>
    
</body>
</html>