<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="shortcut icon" href="../static/dogIcon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    
    
<div id="maincontainer">

	<div id="header">
	
		<ul style="display: inline;">
		  <li><a href="../templates/HomePage.html">Home</a></li>
		  <li><a href="../templates/About.html">About</a></li>
		  <li><a href="../templates/News.html">News</a></li>
		  <li><a class="active" href="../templates/Contact.html">Contact</a></li>		  
		</ul>
	
	</div>
	
	<div id="contentwrapper">
	
		<div id="contentcolumn">
		
			<div class="innertext">
			<p>
                <h2 style="color: rgb(1, 1, 71);">Ask me any question:</h2> </p><br>

                <form>

                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                
                    <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="Israel">Israel</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="usa">USA</option>
                    </select>
                
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                
                    <input type="submit" value="Submit">
                
                  </form>
			</div>	
		</div>
	</div>
	

	
	<div id="footer">© Chubby's World 2022, All Rights Reserved</div>

</div>

</body>
</html>