<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="display: block;">Chubby's World</title>
</head>
<body>
<header id="uniqueId" class="important" style="color: blue;font-size:xxx-large;">Hi everyone! My name is Chubby and welcome to my website:)</header>
  <h1>
      Sign up today to my fan page to get updates on my daily walks and naps
  </h1>
   
<br>
<p>
<img width="700" src="../static/MeChubby.jpg" alt="Sorry can't find image :(">

</p>

</body>
</html>