<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chubby's Fan Page</title>
    <link rel="shortcut icon" href="../static/dogIcon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    
    
<div id="maincontainer">

	<div id="header">
	
		<ul style="display: inline;">
		  <li><a class="active" href="../templates/HomePage.html">Home</a></li>
		  <li><a href="../templates/About.html">About</a></li>
		  <li><a href="../templates/News.html">News</a></li>
		  <li><a href="../templates/Contact.html">Contact</a></li>		  
		</ul>
	
	</div>
	

		
			<div class="innertext">
                
                <h1>
                     Hey all! My name is Chubby and I would like to welcome you to my world.
                </h1>

                <p>
                    this is my new website, here ill update you on my daily walks, snacks and naps. <br>
                    You can also contact me and ask me questions or invite me for a play date!
                </p>

                <p>
                   <center> <img src="../static/Me.jpeg"  width="600" height="600"></center>
                </p>
			 
			</div>	

	
	

	
	<div id="footer">© Chubby's World 2022, All Rights Reserved</div>

</div>

</body>
</html>