

body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    height: auto;
}

#header {
    background: black;
    font-family: Arial; 
    height: 50px;
}

.innertext {
    margin: 20px;
    font-family: Arial; 
    background-image: url("../static/background2.jpg");
    background-repeat: repeat;
    color: #5E5E5E;
}

#footer {
    clear: left; 
    width: 100%;
    background: rgba(133, 227, 207, 0.806);
    color: rgb(236, 233, 233);
    font-family: Arial;
    text-align: center;
    padding: 4px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

li {
    float: left;
    border-right:1px solid rgb(182, 182, 182);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: 	#50bdde;
}

.active {
    background-color: #44a7e9bf;
}	


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  
}
input[type=submit] {
    background-color: #35d5dbdb;
    color: white;
    padding: 12px 20px;
    border: 2 px black;
    border-radius: 4px;
    cursor: pointer;
      }
  
  
  input[type=submit]:hover {
    background-color: #026d69;
  }
  

  .container {
    border-radius: 5px;
    padding: 20px;
  }

